@font-face {
  font-family: Aprova;
  src: url(fonts/Aprova-Regular.otf);
}

body {
  background-color: #191A1A;
  position: relative;
}

#logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18.24px, 19.76px;
  gap: 15.2px;
  position: absolute;
  height: 76px;
  left: 46.95%;
  right: 46.99%;
  top: 230px; 
}

#subtitle {
  position: absolute;
  height: 21px;
  left: 0;
  right: 0;
  margin: auto;
  top: 328px;
  font-family: Aprova;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 150%;
  color: #999;
}

#welcome p {
  position: absolute;
  width: 360px;
  height: 77px;
  left: 0;
  right: 0;
  margin: auto;
  top: 365px;
  font-family: Aprova;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #FFF;
  margin-top: 12px;
  margin-bottom: 22px;
}

#loginbutton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px;
  gap: 10px;
  position: absolute;
  width: 415px;
  height: 46px;
  left: 0;
  right: 0;
  margin: auto;
  top: 476px;
  border-radius: 300px;
  margin-top: 22px;
}

#loginbutton button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;
  width: 407px;
  height: 38px;
  border: 1px solid #FFF;
  border-radius: 300px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  background: #191A1A;
  cursor: pointer;
}

#loginbutton button #loginButtonContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 156px;
  height: 14px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#loginbutton button #loginButtonContent img {
  width: 14px;
  height: 14px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#loginbutton button #loginButtonContent span {
  width: 150px;
  height: 14px;
  font-family: Aprova;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}

header {
  background: #111111;
  position: fixed;
  width: 1280px;
  height: 80px;
  left: 0;
  right: 0;
  margin: auto;
  top: 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#logoHeader {
  position: absolute;
  left: 9.69%;
  right: 87.03%;
  top: 22.5%;
  bottom: 21.85%;
  width: 42px;
  height: 44.52px;
}

#tabs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 624px;
  height: 80px;
  left: 238px;
  top: 0px;
}

#tabs #squadOption,
#tabs #tutorialsOption,
#tabs #trophiesOption {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 32px 8px;
  gap: 10px;
  width: 208px;
  height: 80px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#tabs #squadOption span,
#tabs #tutorialsOption span,
#tabs #trophiesOption span {
  width: 192px;
  height: 24px;
  font-family: Aprova;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.6px;
  color: #DDD;
  flex: none;
  order: 0;
  flex-grow: 1;
}

#userEmailButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  position: absolute;
  width: 177px;
  left: calc(50% - 177px/2 + 427.5px);
  top: 25%;
  bottom: 25%;
}

#userEmail {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
  gap: 8px;
  width: 177px;
  height: 40px;
  border: 1px solid #DDD;
  border-radius: 20px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#userEmailButton #userEmail img {
  position: absolute;
  width: 24px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  left: 5.21%;
  right: 5.21%;
  top: 5.21%;
  bottom: 5.21%;
  background: #DDD;
}

#userEmailButton #userEmail span {
  width: 121px;
  height: 20px;
  font-family: Aprova;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.4px;
  color: #DDD;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#selectSquad {
  position: absolute;
  width: 236px;
  height: 38px;
  left: 124px;
  top: 160px;
  font-family: Aprova;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #FFF;
}

#firstLine,
#secondLine,
#thirdLine {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 32px;
  position: absolute;
  width: 1032px;
  height: 120px;
  left: 124px;
}

#firstLine {
  top: 249px;
}

#secondLine {
  top: 401px
}

#thirdLine {
  top: 553px
}

footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 0px 24px 124px;
  gap: 24px;
  position: absolute;
  width: 1280px;
  height: 64px;
  left: 0;
  right: 0;
  margin: auto;
  top: 829px;
  background: #191A1A;
  border-top: 1px solid #333333;
}

footer p {
  width: 683px;
  height: 16px;
  font-family: Aprova;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.4px;
  color: #999999;
  flex: none;
  order: 1;
  flex-grow: 0;
}